/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");


html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Roboto", Verdana, sans-serif;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------- HEADER --------------*/
header {
  padding: 0.8rem 2vw;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  margin-top: 1rem;
}
header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5rem;
}
header img {
  float: left;
  margin-right: 10px;
  width: 70px;
}

h1,
p {
  margin: 0 2vw;
}

nav {
  background-color: #053742 ;
}

nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #E8F0F2;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
nav ul.open {
  display: block;
}

#hamburger-btn span:nth-child(1) {
  display: block;
}
#hamburger-btn span:nth-child(2) {
  display: none;
}

#hamburger-btn.open span:nth-child(1) {
  display: none;
}
#hamburger-btn.open span:nth-child(2) {
  display: block;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #E8F0F2;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.date span {
  display: flex;
  justify-content: center;
}

.section {
  min-height: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

footer img {
  display: block;
  margin: 0 auto;
  padding: 0;
}

footer{
  text-align: center;
  background-color: #39A2DB;
  color: #000;
}

footer a{
  color: #000000;
}

.base-footer{
  border-top: 1px solid #E8F0F2;
  padding-bottom: 1em;
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

.title{
  padding-top: 1em;
  padding-bottom: 1em;
}

main{
  background-color: #39A2DB;
}
