body{
  text-align: center;
  
}
footer{
  font-size: 1.2em;
}

.base-footer{
 flex-direction: column;
}

.wrapper{
  display: grid;
}

main-nav {
  background-color: red;
}

nav {
  justify-content: left;
}
#hero{
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  background-image: url(../images/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  zoom: -1%;
  font-size: 1.5em;
  color: #FFF;
}

#hero h2 {
  text-align: center;
  margin: 2em auto; 
  color:#000;
  text-shadow: 3px 3px #FFF;
}

#event {
  display: flex;
  grid-row: 2/3;
  color: #000;
 
}

#weather {
  display: flex;
  grid-row: 3/4;
  padding-bottom: 1em;
  flex-direction: column; 
}

#new-release{
  grid-row: 4/5;
  padding-bottom: 1em;
}
#spotlight1{
  grid-row: 5/6;
  padding-bottom: 1em;
}

#spotlight2{
  grid-row: 6/7;
  padding-bottom: 1em;
}

#join {
  grid-row: 7/8;
  padding-bottom: 1em;
}

button{
  background-color: #053742;
  display: block;
  border: none;
  border-radius: 5px 5px;
  padding: 0.5em;
}

#hero button{
  text-align: center;
  margin: 0 auto;
  color: #FFF;
}

#hero button:hover{
  background-color: #A2DBFA;
  cursor: pointer;
}

#event div{
 
  text-align: center;
  align-items: center;
}

#join button{
  display: inline-block;
  margin-top: 2.5em;
  margin-bottom: 2em;
  text-align: center;
  background-color: #053742;
  color:#FFF;
 
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#event button{
  background-color: #053742;
  color:#FFF;
  text-align: center;
  margin: 1em auto;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



#hero button {
  margin-bottom: 3em;
}

#weather img{
  width: 30%;
}

#weather .temp{
  display: block;
  font-weight: bold;
  font-size: 2.3em;
  margin-top: 0.5em;
}


.weather-info p{
  padding: 0 !important;
  margin: 0 auto;
  color:#000;
}

#weather h2{
  margin-top: 1.2em !important;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.weather-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.weather-info div{
  grid-column: 1/3;
}

.wind{
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#msg {
  background-image: linear-gradient(
    90deg,
    #feffb9,
    #fcff5c,
    #fbff00,
    #fcff5c,
    #feffb9
  );
  text-align: center;
  padding: 0.5em;
  margin: auto auto;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.more-info{
  color: rgb(14, 36, 27);
  text-decoration: none;
  font-weight: bold;
}
.more-info:hover{
  text-decoration: underline;
}


.discover h1{
  padding-top: 1.5em;
}
.discover p{
  max-width: 910px;
  margin: 0 auto;
  background-color: #053742;
  padding: 1.5em;
  color: #FFF;
  text-align: left;
}
.discover article{
  max-width: 900px;
  margin: 0 auto;
  margin-top: 2.5em;
  background-color: #053742;
  padding-top: 1.5em;
}
.discover article p{
  color: #FFF;
  padding: 1.5em;
}

.discover img{
  filter: blur(0em);
  transition: filter 3.5s;
}

.discover img[data-src] {
  filter: blur(0.2em);
}

/*Join*/

aside div#free h3 {
  border-bottom: 2px solid #000;
  width: 10em;
}
aside div#bronze h3 {
  border-bottom: 2px solid #925430;
  width: 8.5em;
}
aside div#silver h3 {
  border-bottom: 2px solid #c4c4c4;
  width: 8.5em;
}
aside div#gold h3 {
  border-bottom: 2px solid #ffd700;
  width: 8em;
}


.join{
  max-width: 900px;
  margin: auto;
}

.join h1{
  margin-top: 0.5em;
}

.join form{
  padding: 1em;

}

.join form input,.join form label{
  overflow: visible;
  display: block;
  text-align: left;
  margin-top: 0.5em;
}

.join form button{
 text-align: center;
 display: block;
 align-content: center;
 margin: auto;
 color: #FFF;
}

.join form input{
  width: 100%;
  padding: 0.2em;
}

.join form select{
  margin-top: 1em;
  margin-bottom: 1em;
}

.join form input[required]{
  border-left: 4px solid #A2DBFA;
}


.wrapp-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

aside{
  text-align: justify;
}

.join{
  min-height: 600px;
}

#gridMode,
#listMode {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 3em;
  height: 3em;
  margin: 0 1em 1em;
}
.btns {
  display: flex;
  justify-content: center;
}
#gridMode:hover,
#listMode:hover {
  background-color: #053742;
}
/*****************GRID MODE*******************/
.grid section {
  text-align: center;
  padding: 1em;
}
.grid img {
  width: 50%;
  height: auto;
  margin: auto;
}
/*
.grid section:nth-of-type(9) img {
  width: 100%;
}*/
/**************LIST MODE**********************/
.lst section {
  margin: 0;
  padding: 2%;
  text-align: left;
}
.lst section:nth-child(even) {
  background-color: #ecddc1;
}
.lst h2 {
  color: #000;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}
.lst img {
  display: none;
}