/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64em) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

    


    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .personas-1{
        
        grid-column-start: 1;
        grid-column-end: 2;
        
    }

    .personas-2{
        
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 1/2;
    }
      
     
      
 
} /* end of media query */